[Desktop Entry]
Name=NetHunter
Comment=NetHunter for Linux
Encoding=UTF-8
Exec=/usr/lib/nethunter/nhlauncher
Icon=in.fossfrog.nethunter
Terminal=true
Type=Application
Categories=06-wireless-attacks;
X-Purism-FormFactor=Workstation;Mobile;
